################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MVC_Maraton/.vs/MVC_Maraton/FileContentIndex
